*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    font-size: 10px;
    font-family: Arial, sans-serif;
    background: url(assets/cover.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

h3{
    font-size: 2rem;
    text-align: center;
    font-family: 'Georgia', serif;
}

a{
    text-decoration: none;
}

header{
    background-color: rgba(255, 140, 0, .3);
    font-size: 2rem;
	  letter-spacing: .1rem;
    padding-top: 2rem;
    padding-left: 1rem;
    font-family: 'Georgia', serif;
}

header h1,
nav{
    display: inline-block;
}

header h1 a{
    color: white;
}

nav {
    margin-left: 2rem;
}

nav a{
    display: inline-block;
    color: gold;
    padding: 0 1rem;
}

nav a:hover{
    border-bottom: .4rem solid gold;
}

nav a.active{
    border-bottom: .4rem solid gold;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 0 auto;
}

h3{
    display: block;
    margin-bottom: 2rem;
    width: 100%;
}


/* === MENU === */
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem;
    padding: 1rem;
}

.menu h3{
    color: white;
}

.item{
    background-color: white;
    font-size: 1.1rem;
    margin: .5rem;
    padding: .7rem;
    position: relative;
    box-shadow: 0 3px 15px black;
    border-radius: 3px;
}

/* === ABOUT === */
.about{
    background-color: white;
    padding: 5rem 20%;
    font-size: 1.2rem;
    box-shadow: 0 0 5px gray;
}

.about p{
    display: inline-block;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.author{
    font-size: 1rem;
    display: block;
    text-align: right;
    font-style: italic;
    margin-bottom: 2rem;
}

.about img{
    margin: 2rem 0 1rem 0;
}

figcaption{
    font-size: 1rem;
    font-style: italic;
}

/* === CONTACT === */
.contact{
    background-color: rgba(220, 220, 220, .4);
    padding: 5rem 20%;
    width: 100%;
    font-size: 1.2rem;
}

.contact h2{
    margin-bottom: 2rem;
}

/* === FOOTER === */
footer{
    text-align: center;
    font-size: .8rem;
    background-color: #2F4F4F;
    padding: 2rem 0;
    flex-shrink: 0;
}

footer a{
    color: black;
}

footer a:hover{
    color: white;
}
